extends /layouts/main.pug

block meta
  +meta(title="Layer 0", description="Шаблон сайта проектов Интуиции", og-image="/images/IMG_0202.jpg")

block content
  .ids__wrapper
    section
      h1
        | Курс по гендизайну

      h4 Рисуем красивое с помощью кода
      br

      p.
          Когда-то дизайн рисовали вручную чернилами, потом печатали на станке, ещё позже появились графические редакторы и айпад.

      p.
          Сегодня дизайн переходит в эпоху автоматизации. Люди описывают творческие идеи с помощью кода, а роботы берут на себя оставшуюся рутинную работу.

      p.
          Автоматизация не только экономит время, но и определяет направление развития дизайна. Она позволяет дизайнеру тратить время не на получение конкретного экземпляра решения, а на описание принципов, по которым скрипт создаст сразу множество вариативных решений.

      p.
          Мы верим, что программная генерация — самый перспективный способ делать принципиально новый дизайн. На этом курсе мы научим вас основам программирования и покажем приёмы, которые используют генеративные художники по всему миру.

    section
      h4 Что будет

      ul
        li Основы языка программирования JavaScript с нуля;
        li Рисование с помощью библиотеки p5.js;
        li Пять классических алгоритмов генеративного арта.

      h4 Чего не будет

      ul
        li Вёрстки, HTML и CSS;
        li Фронтенд-разработки.

    section
      h2 Кто здесь

      p <b>Иван Дианов,</b> преподаватель дата-арта в ВШЭ, основатель Генклуба.
      p <b>Адам Арутюнов,</b> программист в Студии Артемия Лебедева, разработчик Николая Иронова.

    section
      p Чтобы установить правильные ожидания, показываем кусочек из наших лекций:

      .video-placeholder
        .video
        .caption (Нарезка из наших лекций в <a>Парке Интуиции</a>).


    section.reviews
      h2 Отзывы

      p.
        Мы проводим курс первый раз, поэтому написали отзывы сами.

        <b>Иван Дианов, преподаватель дата-арта в ВШЭ, основатель Генклуба:</b>

        <i>«Это открытие нового направления творчества для себя, ты прямо меняешь свой подход к дизайну. Если раньше ты создавал конкретное решение, то сейчас ты описываешь принципы, правила и ограничения, по которым можно создать много решений. Ты описываешь кодом композицию и стиль.

        Это может быть полезно для создания серии уникальных работ — например, каких-нибудь персональных бейджиков, визиток, обёрток для шоколада, НФТ-токенов, прости господи.

        Можно делать генеративную айдентику, например, как Иронов.

        Это позволяет получить новый инструмент и больший контроль над процессом на низком уровне.

        Это новое направление, тут ещё немного игроков, и оно перспективное. Ты как бы запрыгиваешь в первый вагон поезда 🚂 🚇 🚞 🚆 🚊 .

        Более того, это весело».</i>

      br
      p.
        <b>Адам Арутюнов, программист в Студии Артемия Лебедева, разработчик Николая Иронова:</b>

        <i>«норм».</i>

    section
      h2 Программа

      ol
        li Теория. Язык программирования JavaScript. Отладка и консоль. Типы данных и арифметические операции. Переменные.
        li Теория. Ветвления и логические операции. Циклы. Область видимости переменной.
        li Теория. Функции, параметры и аргументы. Что такое p5. Как сохранять результат работы. Документация.
        li Практика. Сетка.
        li Практика. Флоу-филд.
        li Практика. Рекурсивное деление.
        li Практика. Работа с изображениями.
        li Практика. Полярные координаты.

    section
      h2 Формат

      ul
        li Восемь вебинаров в Зуме по средам и пятницам с 18:00 до 19:00;
        li Записи занятий доступны всегда;
        li Обязательных домашек нет, да и вообще ничего обязательного нет, но желающим потренироваться мы дадим дополнительные задания;
        li Чат для общения и оргвопросов в Телеграме.

      p Для работы нужен компьютер — с телефона или планшета будет неудобно.

    section
      h2 Даты

      p Каждую среду и пятницу с 30 ноября по 23 декабря, в 18:00.

    section.buy
      .buy-block
        .buy-caption
          h1 Записаться на курс

        .buy-form
          input(type='email' placeholder='Электропочта')

          .buy-controls
            .button Заплатить 7500 ₽
            .promocode Промокод?

          .buy-disclaimer
            p.
              Нажимая эту кнопку, вы соглашаетесь <a>с офертой</a> и <a>политикой обработки персональных данных</a>.
