extends /layouts/main.pug

block meta
  +meta(title="Курс генеративного дизайна", description="Рисуем красивое с помощью кода", og-image="/images/og.png")

block content
  .ids__wrapper
    h1
      | Курс генеративного дизайна

    section.promo-price
        .promo
            | 11 янв — 3 фев 2023 | 7500 ₽ | 20 мест

    section.half

      h3 Рисуем красивое с&nbsp;помощью&nbsp;кода

      p.
          Когда-то дизайн рисовали вручную чернилами, потом печатали на станке, ещё позже появились графические редакторы и айпад.

      p.
          Сегодня дизайн переходит в эпоху автоматизации. Люди описывают творческие идеи с помощью кода, а роботы берут на себя оставшуюся рутинную работу. Автоматизация позволяет дизайнеру тратить время не на получение конкретного экземпляра решения, а на описание принципов, по которым скрипт создаст сразу множество вариативных решений.

      p.
          Мы верим, что программная генерация — самый перспективный способ делать принципиально новый дизайн. На этом курсе мы научим вас основам программирования и покажем самые популярные приёмы, которые используют генеративные художники.

    section.half
      h3 Что будет

      ul
        li Основы языка программирования JavaScript с нуля — мы расскажем только тот минимум, который нужен для практики;
        li Рисование с помощью библиотеки p5.js;
        li Пять классических алгоритмов генеративного арта.

      p В результате вы научитесь генерировать картинки. <Рассказать, что их можно использовать в любых дизайнах, но мы не обучаем, как именно.>
      br

      h3 Чего не будет

      ul
        li Вёрстки, HTML и CSS;
        li Фронтенд-разработки.

      p <Сказать, что не будет сложной математики — нужно только знать, что такое координаты X и Y, а остальное (синусы всякие) мы упростим и расскажем по ходу>

    section
      h2 Кто здесь

      .teachers
        .teacher
            .photo
               img(src='/images/teacher1.jpg')
            .caption <b>Иван Дианов,</b> <a href='https://www.hse.ru/org/persons/503426276'>преподаватель дата-арта в ВШЭ</a>, основатель <a href='https://genclub.club/'>Генклуба</a>.

        .teacher
            .photo
               img(src='/images/teacher2.jpg')
            .caption <b>Адам Арутюнов,</b> программист в <a href='https://design.ru'>Студии Артемия Лебедева</a>, разработчик <a href='https://artlebedev.ru/ironov/2'>Николая Иронова</a>.

    section
      p Вот как примерно всё будет выглядеть:

      .video-placeholder
        .video
        .caption (Это нарезка из наших лекций в <a href='https://intuition.news/park2022'>Парке Интуиции</a>.)


    section
      h2 Отзывы

      p Мы проводим курс первый раз, поэтому написали отзывы сами.
      .ids__stack.XS

      .reviews
        .review
          .photo
               img(src='/images/teacher1.jpg')

          p.
            <b>Иван Дианов</b>, преподаватель дата-арта в ВШЭ, основатель Генклуба:
            
            <i>«Генератив поменял мой подход к дизайну: раньше я работал над одним конкретным решением, а сейчас описываю правила, по которым создаётся тысяча решений.
            
            Такая автоматизация удобна для создания серии работ. Например, персонализированных бейджиков, уникальных визиток и упаковок, генеративной айдентики и НФТшек.
            
            А ещё генератив — это весело!»</i>

        .review
          .photo
               img(src='/images/teacher2.jpg')

          p.
            <b>Адам Арутюнов</b>, программист в Студии Артемия Лебедева, разработчик Николая Иронова:

            <i>«норм».</i>

    section
      h2 Программа

      ol.program
        li#lesson-1 Теория. Язык программирования JavaScript. Отладка и консоль. Типы данных и арифметические операции. Переменные.
            .bg
        li#lesson-2 Теория. Ветвления и логические операции. Циклы. Область видимости переменной.
            .bg
        li#lesson-3 Теория. Функции, параметры и аргументы. Что такое p5. Как сохранять результат работы. Документация.
            .bg
        li#lesson-4 Практика. Сетка.
        li#lesson-5 Практика. Флоу-филд.
        li#lesson-6 Практика. Рекурсивное деление.
        li#lesson-7 Практика. Работа с изображениями.
        li#lesson-8 Практика. Полярные координаты.

    section.half#format
      h2 Формат

      ul
        li Восемь вебинаров в Зуме по средам и пятницам с 18:00 до 19:00 по Москве;
        li Записи занятий доступны всегда;
        li Обязательных домашек нет, да и вообще ничего обязательного нет, но желающим потренироваться мы дадим дополнительные задания;
        li Чат для общения и оргвопросов в Телеграме.

      b Для работы нужен компьютер — с телефона или планшета будет неудобно.

    section
      h2 Даты

      p Каждую среду и пятницу с 11 января по 3 февраля, в 18:00 по Москве.

    section.buy
      .buy-block
        .buy-caption
          h3 Записаться на курс

        .buy-form
          .buy-action
            input(type='email' placeholder='Электропочта')

            .buy-controls
              button Записаться

          .buy-disclaimer
            p.
              На почту придёт ссылка для оплаты, и в течение 24 часов после оплаты мы пришлём ссылку в телеграм-чат.

            p.
              Нажимая эту кнопку, вы соглашаетесь <a href='https://messy-emperor-647.notion.site/7cec5906c1914a8ebd98dee051c027a7'>с офертой</a> и <a href='https://messy-emperor-647.notion.site/cdf7ee711a5c41518a4ad3390935f34b'>политикой обработки персональных данных</a>.
