doctype html
html
  head
    meta(http-equiv="refresh" content="0; URL='https://setka.design'")
  body
    h1 Курс гендизайна переехал
    p Если вас почему-то не редиректнуло, кликните ссылку:
    a(href="https://setka.design") setka.design
