extends /layouts/main.pug

block meta
  +meta(host='https://course.genclub.club' title="Курс генеративного дизайна", description="Рисуем красивое с помощью кода", og-image="/images/og.jpg")


block content
  .ids__wrapper
    section.black
      h1
        | Курс генеративного дизайна

    section.black.promo-price
        .promo
            .section 15&nbsp;мая&nbsp;— 9&nbsp;июня
            .section <span class='dynamic-price'></span>
        .promo-action
            a(href='#buy' class='dotted') Записаться

    section.black.showreel
        video(src='/video/showreel.mp4' controls autoplay muted loop)
        .caption Шоурил из работ выпускников курса

    section.half#header

      h3 Рисуем красивое с&nbsp;помощью&nbsp;кода

      p.
          Когда-то дизайн рисовали вручную чернилами, потом печатали на станке, ещё позже появились графические редакторы и айпад.

      p.
          Сегодня дизайн переходит в эпоху автоматизации. Люди описывают творческие идеи с помощью кода, а роботы берут на себя оставшуюся рутинную работу. Автоматизация позволяет дизайнеру тратить время не на получение конкретного экземпляра решения, а на описание принципов, по которым скрипт создаст сразу множество вариативных решений.

      p.
          Мы верим, что программная генерация — самый перспективный способ делать принципиально новый дизайн. На этом курсе мы научим вас основам программирования и покажем самые популярные приёмы, которые используют генеративные художники.

    section.half
      h3 Что будет

      p Вы научитесь генерировать картинки, которые можно использовать в своих дизайнах, как только фантазии хватит. Для этого изучим:

      ul
        li Основы языка программирования JavaScript с нуля — расскажем только тот минимум, который нужен для практики;
        li Рисование с помощью библиотеки p5.js;
        li Пять классических алгоритмов генеративного арта.


      h3 Чего не будет

      ul
        li Вёрстки, HTML и CSS;
        li Основ дизайна;
        li Нейросетей.

      // p После курса не получится устроиться на работу генеративным дизайнером, потому что первая такая вакансия появится только через несколько лет. Зато мы помогаем освоить новый инструмент, расширить свои представления о дизайне, перестать бояться программирования и получать фан.

    section#program
      h2 Программа

      ul.program
        li#lesson-js
          span Четыре теоретических занятия
          p
          p 1. Язык программирования JavaScript. Отладка и консоль. Типы данных и арифметические операции. Переменные.
          p 2. Ветвления и логические операции. Циклы. Область видимости переменной.
          p 3. Массивы. Функции, параметры и аргументы.         
          p 4. Что такое p5.js. Как сохранять результат работы. Документация.
          .bg
        //li#lesson-if
          .bg
        //li#lesson-array
          .bg
        //li#lesson-p5
          .bg
        li#lesson-grid
          span Сетка
        li#lesson-sd
          span Сабдивижн
        li#lesson-ca
          span Клеточные автоматы
        li#lesson-img
          span Работа с изображениями
        li#lesson-ff
          span Флоу-филд


    section#teachers
      h2 Кто здесь

      .teachers
        .teacher
            .photo
               img(src='/images/teacher1.jpg')
            .description <b>Иван Дианов,</b> <a href='https://www.hse.ru/org/persons/503426276'>преподаватель дата-арта в ВШЭ</a>, основатель <a href='https://genclub.club/'>Генклуба</a>.

        .teacher
            .photo
               img(src='/images/teacher2.jpg')
            .description <b>Адам Арутюнов,</b> программист в <a href='https://design.ru/adamarutyunov'>Студии Артемия Лебедева</a>, разработчик <a href='https://artlebedev.ru/ironov/2'>Николая Иронова</a>.

    section.half
      p Вот как примерно всё будет выглядеть:

      .video-placeholder
        .video
            //iframe(src="https://www.youtube.com/embed/QDrNo9XSoEw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
        .caption (Это нарезка из наших лекций в <a href='https://intuition.news/park2022'>Парке Интуиции</a>. Содержание будет другим, а стиль повествования — примерно таким же.)


    section#reviews
      h2 Отзывы

      p Отзывы хорошие:
      .ids__stack.XS

      .reviews
        .review-column
          .review
            .author
              img.photo(src='/images/reviews/stnlvsk.jpg')
              span <b>Юлия Стениловская,</b> моушн-дизайнер

            .content
              p «Я вообще записалась на курс, просто увидев в программе flow-fields. Вроде стало полегче с пониманием, что это и как. Оказалось полезно всё, кроме, может, двух первых вводных занятий, но я люблю повторять что-нибудь известное.

              p Мне очень понравилась подача и объяснения в целом — приятно, доходчиво и интересно. Обязательно продолжу двигаться дальше в генеративном дизайне, это был очень хороший (и приятный) толчок в нужную мне сторону!»

          .review
            .author
              img.photo(src='/images/reviews/nastyaskoblova.jpg')
              span <b>Настя Скоблова,</b> фронтенд-разработчик в Tilda Publishing

            .content
              | «Узнала в принципе подробнее про то, что такое гендизайн и как с этим быть. Мои ожидания оправдались, пинок получен :). Желаю вам оставить курс таким же весёлым и настоящим».

          .review
            .author
              img.photo(src='/images/reviews/sutekina_onna.jpg')
              span <b>Ева,</b> графический дизайнер

            .content
              | «Полезно было понять, что мне всё же под силу разобраться в сложных вопросах области. Это приятно. Спасибо! Было здорово. Вы крутые <3».

          .review
            .author
              img.photo(src='/images/reviews/anastasianazarova.jpg')
              span <b>Анастасия Назарова</b>, графический дизайнер
            .content «Я раньше никогда не программировала, и для меня открылся новый мир! Очень захватывающий и увлекательный. Мозг жутко обрадовался и явно образовал много новых нейронных связей. Я узнала, как делаются многие из тех рефов, которые я часто вижу на Пинтересте, а некоторые даже попробовала повторить сама. Самое полезное — это то, что теперь у меня есть новый инструмент, я представляю, как он работает и как продолжить учиться его использовать. Ребята, вы очень обаятельные и внимательные к ученикам. Это отдельный кайф — учиться у таких преподов :-)».

          .review
            .author
              img.photo(src='/images/reviews/tatianaalisova.jpg')
              span <b>Татьяна Алисова</b>, иллюстратор-аниматор, завотделения Школы дизайна РАНХиГС
            .content
              p  «Узнала-попробовала техники и методы, чтобы сделать красиво. Очень понравилось про клеточные автоматы! В целом самое полезное — принцип и подход, чтобы потом самостоятельно уже копать.
              p  Хочется продолжения — было б здорово, если б была часть два через месяц-два, например.
              p  Очень крутой формат! И в подаче, и в атмосфере, и живой чатик. Но где-то в описании нужен дисклеймер: „осторожно, данный курс вызывает неудержимое желание экспериментировать с кодом до 5 утра“».
              
          .review
            .author
              img.photo(src='/images/reviews/lenakalacheva.jpg')
              span <b>Лена Калачёва</b>, графический и моушн дизайнер
            .content
              p «Во-первых, я впервые что-то сделала в p5.js). Во-вторых, JS стал чуть ближе, чем раньше. Пересматриваю по N-ному кругу видеоуроки, экспериментирую (пока в рамках заданий). Самое полезное — это, наверное, некий старт, который проще и интереснее делать с проводниками ;)
              p В целом курсом довольна! Ожидания оправдались! Возможно, тем, кто с кодом знаком поверхностно (как я), нужно больше уроков, может быть, какой-то более продолжительный курс.
              p Ребят, спасибо вам за курс! Вы крутые, доходчиво и позитивно подаёте информацию. Хоть и с домашками я вовремя не успела (они в процессе). Я бы порекомендовала ваш курс друзьям, это точно!».
              
          .review
            .author
              img.photo(src='/images/teacher1.jpg')
              span <b>Иван Дианов</b>, препод

            .content
              p «Генератив поменял мой подход к дизайну: раньше я работал над одним конкретным решением, а сейчас описываю правила, по которым создаётся тысяча решений.
              
              p Такая автоматизация удобна для создания серии работ. Например, персонализированных бейджиков, уникальных визиток и упаковок, генеративной айдентики и НФТшек.
              
              p А ещё генератив — это весело!»

        .review-column
          .review
            .author
              img.photo(src='/images/reviews/you_die_eva.jpg')
              span <b>Аня Юдаева,</b> тимлидка графических дизайнеров

            .content
              p «Самое полезное, пожалуй, — то, как вы разжевывали логику JS. Условно, как перевести запрос с человеческого языка на язык программирования — и всё с примерами и пояснениями каждой строки). Оказалось, что начинать не страшно, и получить свою первую залипательную картинку намного легче, чем я ожидала.

              p Сто мильонов раз спасибо за курс! Отдельно спасибо за минутки клоунизма в зуме от Адама и от Ивана, они разбавляли атмосферу и помогали взбодриться). Я очень жалею, что не хватило внимания на последние занятия, но надеюсь вскоре наверстать и оживиться в чате-лобби».

          .review
            .author
              img.photo(src='/images/reviews/polnodobra.jpg')
              span <b>Алексей Соколов,</b> дизайнер мобильных кретивов

            .content
              | «Я узнал p5js и попробовал его сам. До этого знал что такой инструмент есть, но не пробовал. Самое полезное — комьюнити, сообщество. Я сразу, по описанию курса, знал, что полезной информации для меня будут крупицы. Но Адам и Иван зайки (no homo), и сами встречи для меня были как отдушины в царстве корпоративного рабства и булщита. Хоть и не всегда получалось присутствовать».

          .review
            .author
              img.photo(src='/images/reviews/anonymous.jpg')
              span <b>Аноним</b>

            .content
              | «Мне реально помогло вставить мозг на место. Теперь понимаю азы, как это устроено и как это учить и применять дальше. Я с почти нулевыми знаниями JS чувствовал себя комфортно. Попробовал несколько примеров написать с нуля, все сразу понятно. Главное: я понял, как нужно мыслить, чтобы делать гендизайн на JS».

          .review
            .author
              img.photo(src='/images/reviews/simon.jpg')
              span <b>Simon Asche</b>, дизайнер
            .content «Стал более комфортно себя чувствовать в среде p5.js, ушло опасение в чем-либо не разобраться. Во время курса снились сны с возможностью разукрашивать их по координатам (x, y)».
              
          .review
            .author
              img.photo(src='/images/reviews/adashill.jpg')
              span <b>Дарья Ахтанина</b>, дизайнер коммуникаций в диджитал агентстве
            .content «Я узнала, как кодить, как работают программы, как пользоваться библиотеками, и что это вообще не страшно. Если будет курс по гендизайну уровня „получайник“, я приду :))))))».
              
          .review
            .author
              img.photo(src='/images/reviews/tatianadorokhova.jpg')
              span <b>Татьяна Дорохова</b>, дизайнер веб-интерфейсов
            .content
              p «Я попробовала генеративный дизайн, и это очень вдохновляющая и прикладная штука. хочется пробовать дальше. спасииииибо!
              p очень крутая подача, максимально доходчиво, примеры — топ. „если у вас есть газета из резины...“, „какая классная коробочка, мне кажется, на ней можно объяснить квантовую механику”)). мне очень заходит такой формат».
              
          .review
            .author
              img.photo(src='/images/reviews/ninamoskaleva.jpg')
              span <b>Нина Москалёва</b>, дизайнер и художник
            .content «Наконец, кажется, поняла, как работают массивы). Вы оба круто объясняете сложные для не-программистов концепты! Отличные метафоры, с ними всё становится легче). Здорово, что вы ведёте курс вдвоём: в процессе не всегда понятно, что что-то не понятно, дополнительные вопросы, которые вы задаёте друг другу, очень помогают, когда повторяешь скетч самостоятельно. Спасибо за курс <3».
              
          .review
            .author
              img.photo(src='/images/teacher2.jpg')
              span <b>Адам Арутюнов</b>, программист в Студии Артемия Лебедева, разработчик Николая Иронова

            .content «норм».
              

    section.half#format
      h2 Формат

      ul
        li 
          b Двенадцать вебинаров в Зуме по понедельникам, средам и пятницам с 15 мая по 9 июня;
        li Занятия начинаются в 17:00 по Москве и длятся полтора часа;
        li Записи занятий доступны всегда;
        li Будет три практических занятия, на которых закрепим теорию;
        li Чат для общения и оргвопросов в Телеграме.

    section#buy
      #sketchFooter(tooltip='“Rainbow tri-grid” by @polnodobra')

      .buy-block
        .buy-caption
          h3 Записаться на курс

          b Стоимость входного билета растёт по мере приближения к началу занятий:

          .price-comparison
            .price.active
              .value
                span.dynamic-price
              .description
                | Сейчас
            .arrow →
            .price.future
              .value
                | 16 000 ₽
              .description
                | 15 мая


        .buy-form
          .buy-action
            //input(type='email' placeholder='Электропочта')

            .buy-controls
              a(href='https://t.me/gendesign_bot')
                button() Заплатить<span class='dynamic-price'></span>

          .buy-disclaimer
            //p(style='color: #880000') (Запись откроется чуть позже.)
            p.
                Оплата через телеграм-бота (это встроенная функция самого Телеграма). После оплаты бот пришлёт ссылку на вступление в чат. 
            p.
                Принимаются российские карты. Если такой нет — <a href='https://t.me/adam_arutyunov'>пишите</a>, что-нибудь придумаем.

            p.
              Нажимая эту кнопку, вы соглашаетесь <a href='https://messy-emperor-647.notion.site/7cec5906c1914a8ebd98dee051c027a7'>с офертой</a> и <a href='https://messy-emperor-647.notion.site/cdf7ee711a5c41518a4ad3390935f34b'>политикой обработки персональных данных</a>.

            p.small
              | ← “Rainbow tri-grid” by @polnodobra
