extends /layouts/main.pug

block meta
  +meta(host='https://course.genclub.club' title="Курс генеративного дизайна", description="Рисуем красивое с помощью кода", og-image="/images/og.jpg")


block content
  .ids__wrapper
    section
      h1
        | Курс генеративного дизайна

    section.promo-price
        .promo
            | 27 фев — 17 мар | 12&#8239;500 ₽ | 32 места

    section.half#header

      h3 Рисуем красивое с&nbsp;помощью&nbsp;кода

      p.
          Когда-то дизайн рисовали вручную чернилами, потом печатали на станке, ещё позже появились графические редакторы и айпад.

      p.
          Сегодня дизайн переходит в эпоху автоматизации. Люди описывают творческие идеи с помощью кода, а роботы берут на себя оставшуюся рутинную работу. Автоматизация позволяет дизайнеру тратить время не на получение конкретного экземпляра решения, а на описание принципов, по которым скрипт создаст сразу множество вариативных решений.

      p.
          Мы верим, что программная генерация — самый перспективный способ делать принципиально новый дизайн. На этом курсе мы научим вас основам программирования и покажем самые популярные приёмы, которые используют генеративные художники.

    section.half
      h3 Что будет

      p Вы научитесь генерировать картинки, которые можно использовать в дизайне, как только фантазии хватит. Для этого изучим:

      ul
        li Основы языка программирования JavaScript с нуля — мы расскажем только тот минимум, который нужен для практики;
        li Рисование с помощью библиотеки p5.js;
        li Пять классических алгоритмов генеративного арта.


      h3 Чего не будет

      ul
        li Вёрстки, HTML и CSS;
        li Фронтенд-разработки;
        li Основ дизайна;
        li Сложной математики.

    section#program
      h2 Программа

      ul.program
        li#lesson-js
          span Четыре теоретических занятия. Изучаем JS с нуля. Четвёртое занятие — переходное от теории к практике.
          .bg
        //li#lesson-if
          span Теория. Ветвления и логические операции. Циклы. Область видимости переменной.
          .bg
        //li#lesson-array
          span Теория. Массивы. Функции, параметры и аргументы.         
          .bg
        //li#lesson-p5
          span Теория-практика. Что такое p5. Как сохранять результат работы. Документация.
          .bg
        li#lesson-grid
          span Практика. Сетка
        li#lesson-ff
          span Практика. Флоу-филд
        li#lesson-sd
          span Практика. Рекурсивное деление
        li#lesson-img
          span Практика. Работа с изображениями
        li#lesson-polar
          span Практика. Полярные координаты


    section#teachers
      h2 Кто здесь

      .teachers
        .teacher
            .photo
               img(src='/images/teacher1.jpg')
            .caption <b>Иван Дианов,</b> <a href='https://www.hse.ru/org/persons/503426276'>преподаватель дата-арта в ВШЭ</a>, основатель <a href='https://genclub.club/'>Генклуба</a>.

        .teacher
            .photo
               img(src='/images/teacher2.jpg')
            .caption <b>Адам Арутюнов,</b> программист в <a href='https://design.ru/adamarutyunov'>Студии Артемия Лебедева</a>, разработчик <a href='https://artlebedev.ru/ironov/2'>Николая Иронова</a>.

    section.half
      p Вот как примерно всё будет выглядеть:

      .video-placeholder
        .video
            //iframe(src="https://www.youtube.com/embed/QDrNo9XSoEw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
        .caption (Это нарезка из наших лекций в <a href='https://intuition.news/park2022'>Парке Интуиции</a>. Содержание будет другим, а стиль повествования — примерно таким же.)


    section#reviews
      h2 Отзывы

      p Мы проводим курс первый раз, поэтому написали отзывы сами.
      .ids__stack.XS

      .teachers
        .teacher
          .photo
               img(src='/images/teacher1.jpg')

          p.
            <b>Иван Дианов</b>, преподаватель дата-арта в ВШЭ, основатель Генклуба:
            
            <i>«Генератив поменял мой подход к дизайну: раньше я работал над одним конкретным решением, а сейчас описываю правила, по которым создаётся тысяча решений.
            
            Такая автоматизация удобна для создания серии работ. Например, персонализированных бейджиков, уникальных визиток и упаковок, генеративной айдентики и НФТшек.
            
            А ещё генератив — это весело!»</i>

        .teacher
          .photo
               img(src='/images/teacher2.jpg')

          p.
            <b>Адам Арутюнов</b>, программист в Студии Артемия Лебедева, разработчик Николая Иронова:

            <i>«норм».</i>

    section.half#format
      h2 Формат

      ul
        li 
          b Девять вебинаров в Зуме по понедельникам, средам и пятницам с 27 февраля по 17 марта;
        li Занятия начинаются в 17:00 по Москве. За час рассказываем самое важное, ещё полчаса отвечаем на вопросы и рассказываем дополнительное;
        li Записи занятий доступны всегда;
        li Обязательных домашек нет, да и вообще ничего обязательного нет, но желающим потренироваться мы дадим дополнительные задания;
        li Чат для общения и оргвопросов в Телеграме.

      p Для работы нужен компьютер — с телефона или планшета будет неудобно.

    section#buy
      #sketchFooter(tooltip='“Rainbow tri-grid” by @polnodobra')

      .buy-block
        .buy-caption
          h3 Записаться на курс

        .buy-form
          .buy-action
            //input(type='email' placeholder='Электропочта')

            .buy-controls
              a(href='https://t.me/gendesign_bot')
                button() Записаться

          .buy-disclaimer
            //p(style='color: #880000') (Запись откроется чуть позже.)
            p.
                Оплата через телеграм-бота (это встроенная функция самого Телеграма). После оплаты бот пришлёт ссылку на вступление в чат. 
            p.
                Принимаются российские карты. Если такой нет — <a href='https://t.me/adam_arutyunov'>пишите</a>, что-нибудь придумаем.

            p.
              Нажимая эту кнопку, вы соглашаетесь <a href='https://messy-emperor-647.notion.site/7cec5906c1914a8ebd98dee051c027a7'>с офертой</a> и <a href='https://messy-emperor-647.notion.site/cdf7ee711a5c41518a4ad3390935f34b'>политикой обработки персональных данных</a>.

            p.small
              | ← “Rainbow tri-grid” by @polnodobra
