html,
body {
  font-family: 'PT Serif', sans-serif;
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'GolosUIVF';
  font-variation-settings: 'wght' 300;
  font-weight: normal !important;
}

h1 {
  hyphens: auto;
}

h4 {
  font-variation-settings: 'wght' 600;
}

main {
  position: relative;
}

a:hover {
  color: red !important;
  border-color: rgba(255, 0, 0, 0.5) !important;
}

.promo {
  font-size: 1.5em;
  font-family: 'PT Mono';
  padding: 0.65em 0.8em 0.55em 0.8em;
  border: 0.05em solid black;
  border-radius: 0.5em;

  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.ids__wrapper {
  font-size: 1.2em;
  margin-top: 2em;
  padding-bottom: 4em;
  width: 100%;

  section {
    padding: 0 5%;

    &#reviews {
      background: #f0f0f0;
      padding-bottom: 3em;
      padding-top: 3em;
    }

    &#program {
    }

    &#teachers .teachers {
      margin-bottom: 3em;
      margin-top: 3em;
    }
  }
}

.video-placeholder {
  .video {
    width: 100%;
    aspect-ratio: 16 / 9;
    border-radius: 0.5em;
    overflow: hidden;
    float: none;
    clear: both;
    position: relative;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      background: #ddd;
      border: none;
    }
  }

  .caption {
    margin-top: 0.5em;
    font-size: 0.8em;
    color: #888;
  }
}

.half {
  width: 100%;
  max-width: 800px;
}

.teachers {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 4em;

  margin-top: 2em;

  .teacher {
    flex-grow: 1;
    flex-basis: 50%;
    flex-shrink: 1;

    display: flex;
    flex-direction: column;
    gap: 1.4em;

    border-radius: 1em;

    p {
      white-space: pre-line;
    }

    .photo {
      max-width: 200px;
      min-width: 200px;
      border-radius: 50%;
      overflow: hidden;

      box-shadow: 0 0 30px 0px #bbb;
    }

    .caption {
      font-size: 1.2em;
    }
  }
}

.program {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.3em;

  $brr: 1em;

  list-style: none;

  li {
    border-radius: $brr;
    aspect-ratio: 2 / 1;
    margin: 0 !important;
    padding: 1em 1em;
    //border: 1px solid #ddd;
    box-shadow: 0 4px 15px 0 #ddd;
    overflow: hidden;

    transition: transform 0.2s ease;

    &::before {
      display: none;
    }

    span {
      font-variation-settings: 'wght' 700;
      font-size: 1.2em;

      text-shadow: 0 0 15px rgba(127, 127, 127, 0.4);
    }

    &#lesson-7 span,
    &#lesson-8 span {
      color: white;
    }

    .bg {
      font-family: 'PT Mono Bold';
      font-size: 0.8em;
      color: white;
      font-weight: bold;
      white-space: pre-wrap;
      padding: 0.4em 0.7em;

      transition: background 0.2s linear;
    }

    .bg,
    canvas {
      border-radius: $brr;
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;

      width: 100%;
      height: 100%;
    }
  }
}

.buy-block {
  background: #eee;
  padding: 1em 1.2em 2em 1.2em;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-radius: 0.5em;

  .buy-caption {
  }

  .buy-form {
    display: flex;
    flex-direction: column;
    gap: 0.8em;
  }

  .buy-disclaimer {
    font-size: 0.9em;
    color: #888;
  }

  .buy-action {
    display: flex;
    gap: 0.5em;

    .buy-controls {
      font-size: 1.5em;
      font-variation-settings: 'wght' 600;
      flex-grow: 1;
    }
  }
}

#format {
}

.ids input {
  border: none;
  background: white;

  &:focus {
    border: none;
    box-shadow: none;
    outline: 3px solid #ddd;
  }
}

b {
  font-variation-settings: 'wght' 500;
}

.buy-controls {
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}

#sketchHeader {
  width: 100%;
  height: 200vh;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.3;
}

@media (max-width: 767px) {
  .program {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0.5em;

    li {
      aspect-ratio: 4 / 3;
    }
  }

  .ids section {
    margin-top: calc(var(--ids__density) * 1.5em);
  }

  .teachers {
    grid-template-columns: repeat(1, 1fr);
  }

  .buy-block {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0.4em;
  }

  .ids__wrapper {
    padding-left: 0;
    padding-right: 0;
    margin-top: 0.5em;
  }
}
