html,
body {
  font-family: 'PT Serif', sans-serif;
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'GolosUIVF';
  font-variation-settings: 'wght' 300;
  font-weight: normal !important;
}

h1 {
  hyphens: auto;
}

h4 {
  font-variation-settings: 'wght' 600;
}

main {
  position: relative;
}

p.small {
  font-size: 0.7em;
  opacity: 0.5;
  padding-top: 0.2em;
}

a:hover {
  color: red !important;
  border-color: rgba(255, 0, 0, 0.5) !important;
}

.promo-price {
  display: flex;
  gap: 2em;
  align-items: center;

  a.dotted {
    border-bottom-style: dotted;
    font-size: 1.5em;
    color: black;
  }
}

.promo {
  font-size: 1.5em;
  font-family: 'PT Mono';
  padding: 0.65em 0.8em 0.55em 0.8em;
  border: 0.05em solid black;
  border-radius: 0.5em;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  .section {
    padding: 0 0.8em;
    display: flex;
    align-items: center;

    border-left: 0.05em solid black;
  }

  .section:first-child {
    padding-left: 0;
    border-left: none;
  }

  .section:last-child {
    padding-right: 0;
  }

  img {
    width: 1em;
    margin-right: 0.5em;
  }

  span {
    white-space: nowrap;
  }
}

.ids__wrapper {
  font-size: 1.2em;
  margin-top: 2em;
  width: 100%;

  section {
    padding: 0 5%;

    &:last-child {
      padding-bottom: 6em;
    }

    &#reviews {
      background: white;
      padding-bottom: 3em;
      padding-top: 3em;
    }

    &#program {
    }

    &#teachers .teachers {
      margin-bottom: 3em;
      margin-top: 3em;
    }

    &#buy {
      position: relative;
      margin-top: 4em;
    }
  }
}

.video-placeholder {
  .video {
    width: 100%;
    aspect-ratio: 16 / 9;
    border-radius: 0.5em;
    overflow: hidden;
    float: none;
    clear: both;
    position: relative;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      background: #ddd;
      border: none;
    }
  }

  .caption {
    margin-top: 0.5em;
    font-size: 0.8em;
    color: #888;
  }
}

.half {
  width: 100%;
  max-width: 800px;
}

.teachers {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 4em;

  margin-top: 2em;

  .teacher {
    flex-grow: 1;
    flex-basis: 50%;
    flex-shrink: 1;

    display: flex;
    flex-direction: column;
    gap: 1.4em;

    border-radius: 1em;

    p {
      white-space: pre-line;
    }

    .photo {
      max-width: 200px;
      min-width: 200px;
      border-radius: 50%;
      overflow: hidden;

      box-shadow: 0 0 30px 0px #bbb;
    }

    .caption {
      font-size: 1.2em;
    }
  }
}

.program {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0.3em;

  $brr: 1em;

  list-style: none;

  li {
    border-radius: $brr;
    aspect-ratio: 3 / 2;
    margin: 0 !important;
    padding: 1em 1em;
    //border: 1px solid #ddd;
    box-shadow: 0 4px 15px 0 #ddd;
    overflow: hidden;

    transition: transform 0.2s ease;

    &::before {
      display: none;
    }

    span {
      font-variation-settings: 'wght' 700;
      font-size: 1.2em;

      text-shadow: 0 0 15px rgba(127, 127, 127, 0.4);
    }

    &#lesson-img span,
    &#lesson-ca span,
    &#lesson-sd span,
    &#lesson-polar span {
      color: white;
    }

    .bg {
      font-family: 'PT Mono Bold';
      font-size: 0.8em;
      color: white;
      font-weight: bold;
      white-space: pre-wrap;
      padding: 0.4em 0.7em;

      transition: background 0.2s linear;
    }

    .bg,
    canvas {
      border-radius: $brr;
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;

      width: 100%;
      height: 100%;
    }
  }
}

#reviews {
  .reviews {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

    $gap: 0.8em;
    gap: $gap;

    .review-column {
      flex: calc(50% - #{$gap * 2}) 0 0;
      max-width: calc(50% - #{$gap * 2});

      display: flex;
      flex-direction: column;
      gap: $gap;
    }

    .review {
      display: flex;
      flex-direction: column;
      gap: 1em;

      padding: 1.2em 1.5em 1.5em 1.2em;
      background: #f0f0f0;
      border-radius: 0.5em;

      .author {
        display: flex;
        gap: 0.8em;
        align-items: center;
        font-size: 0.9em;

        object-fit: contain;

        .photo {
          width: 3em;
          aspect-ratio: 1;
          border-radius: 50%;

          box-shadow: 0 0 10px #ccc;
        }
      }

      .content {
        font-style: italic;
      }
    }
  }
}

#sketchFooter {
  width: 21em;
  aspect-ratio: 1;
  position: absolute;
  top: -1.8em;
  left: -1em;
  z-index: -1;
  opacity: 0.6;

  border-radius: 50%;
  overflow: hidden;
}

.buy-block {
  background: rgba(230, 230, 230, 0.2);
  backdrop-filter: blur(1px);
  padding: 1em 1.2em 1.5em 1.2em;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-radius: 0.5em;

  grid-gap: 4em;

  .buy-caption {
    h3 {
      font-size: 2em;
      font-variation-settings: 'wght' 700;
    }
  }

  .price-comparison {
    margin-top: 1.5em;

    font-family: 'PT Mono';
    font-weight: bold;

    display: flex;
    gap: 4em;
    grid-template-columns: repeat(3, 1fr);

    .price {
      position: relative;
      display: flex;
      flex-direction: column;

      padding-top: 0.3em;
      border-radius: 0.3em;

      &:not(:first-child):before {
        content: '→';
        position: absolute;
        left: -1.5em;
        top: 50%;
        transform: translateY(-50%);
        font-size: 1.5em;
        font-weight: bold;
      }

      &.active {
        padding-right: 1.5em;
        padding-left: 0.5em;
        padding-bottom: 0.4em;
        border: 2px solid black;
        .value {
        }
      }

      &.disabled {
        opacity: 0.5;
      }

      &.future {
        .value,
        .description {
        }
      }

      .value {
        font-size: 1.5em;
      }
    }
  }

  .buy-form {
    display: flex;
    flex-direction: column;
    gap: 0.8em;
  }

  .buy-disclaimer {
    font-size: 0.9em;
  }

  .buy-action {
    display: flex;
    gap: 0.5em;

    .buy-controls {
      font-size: 1.5em;
      font-variation-settings: 'wght' 600;
      flex-grow: 1;
    }
  }
}

#format {
}

.ids input {
  border: none;
  background: white;

  &:focus {
    border: none;
    box-shadow: none;
    outline: 3px solid #ddd;
  }
}

b {
  font-variation-settings: 'wght' 500;
}

.buy-controls {
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 0.4ch;
  }
}

#sketchHeader {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

@media (max-width: 767px) {
  .promo-price {
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;
  }

  #reviews {
    .reviews {
      flex-direction: column;

      .review-column {
        flex-basis: 100%;
        max-width: 100%;
      }
    }
  }

  .program {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 0.5em;

    li {
      aspect-ratio: 4 / 3;
    }
  }

  .ids section {
    margin-top: calc(var(--ids__density) * 1.5em);
  }

  .teachers {
    grid-template-columns: repeat(1, 1fr);
  }

  .buy-block {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2em;
  }

  .ids__wrapper {
    padding-left: 0;
    padding-right: 0;
    margin-top: 0.5em;
  }

  #sketchFooter {
    left: -2em;
    top: -2em;
  }
}
